* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  font-family: Geneva;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.header__logo {
  width: 10rem;
}

.header__title {
  text-align: center;
  margin: 0.2rem 0;
}

.main {
  display: block;
  width: 100vw;
}

.main_navigation {
  display: block;
  width: 100%;
  padding: 1rem 2rem;
}

.main_navigation__menu_button {
  background-color: #cecece;
  display: block;
  width: 2.2rem;
  padding: 0.2rem;
  border: 0.1rem solid #424242;
}

.main_navigation__menu {
  background-color: #cececef6;
  display: none;
  position: absolute;
  width: 88vw;
  max-width: 40rem;
  border: 0.1rem solid #424242;
  list-style-type: none;
}

.main_navigation__menu_button:hover ~ .main_navigation__menu {
  display: block;
}

.main_navigation__menu:hover {
  display: block;
}

.main_navigation__menu_item {
  color: #006600;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.main_navigation__menu_item a {
  display: block;
  color: #006600;
  text-decoration: none;
  padding: 1rem 0;
}

.main_navigation__menu_item a:hover {
  background-color: #ababab;
}

.main__content {
  padding: 1rem 2rem;
}

.main__title, .main__text {
  padding: 0.4rem 0;
  text-align: justify;
}

.form_group {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  min-width: 28rem;
}

.form_group__container {
  background-color: rgba(0, 0, 0, 0.1);
  min-width: 28rem;
  width: 28rem;
  border: 0.2rem solid #003688;
  border-radius: 2rem;
  margin: 1rem 0;
}

.form_group__title {
  text-align: center;
  margin: 1rem;
}

.form_group__text {
  text-align: justify;
  margin: 0 1rem 1rem;
}

.form_group__text--important {
  font-style: italic;
  text-decoration: underline;
}

.form_group__text--error {
  color: #FF0000;
}

.form_group__image {
  display: block;
  width: 8rem;
  margin: 0.5rem auto;
}

.form_group__form {
  min-width: 26rem;
}

.form_group__form fieldset {
  display: block;
  padding: 1rem;
  border: 0.1rem solid #424242;
  border-radius: 1rem;
  margin: 1rem;
}

.form_group__form legend {
  padding: 0.4rem;
  font-weight: bold;
}

.form_group__form label {
  display: block;
  font-weight: bold;
  margin: 0 0 1.2rem 0;
}

.form_group__form input {
  padding: 0.5em;
  border: 0.1rem solid #424242;
  border-radius: 0.4rem;
  margin: 0.2rem 0;
}

.form_group__form label {
  display: block;
}

.form_group__form input[type=button] {
  margin: 0.8rem;
}

.form_group__form textarea {
  width: 100%;
}

.footer {
  text-align: center;
}

.footer hr {
  width: 90vw;
  margin: 2rem auto 1rem auto;
  border: 0.1rem solid #424242;
}

.footer__copyright {
  font-weight: bold;
}

@media only screen and (min-width: 480px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 640px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 680px) {
  .main {
    display: flex;
    width: 100vw;
  }

  .main_navigation {
    width: 30vw;
    padding: 1rem 0.2rem;
  }

  .main_navigation__menu_button {
    display: none;
  }

  .main_navigation__menu {
    display: block;
    position: relative;
    width: 100%;
  }

  .main__content {
    width: 70vw;
  }
}

/*# sourceMappingURL=base.css.map */
